
$global-color-bule:                               #108ee9;

$global-color-white:                              #fff;

//  text color
$text-color-blue:                                 $global-color-bule;

// background color
$bg-color-blue:                                   $global-color-bule;

$bg-color-white:                                  $global-color-white;

// border color
$border-color-gray:                               #ccc;