@import './component.scss';

// tool class 
.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.clear-margin-bottom {
  margin-bottom: 0 !important;
}

// button style
.btn-block{
  display: block;
  width: 100%;
}

.btn-sm-padding{
  padding-left: 5px;
  padding-right: 5px;
}


